@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background: #1E1E28;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyStyle{
    background-color: #1E1E28;
    overflow: hidden;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
